.restaurnatBox{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.restaurantItem{
    margin: 2vh;
    width: 25vw;
    border-width: 0.1vh;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);
    box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);    
    box-sizing: border-box;

}
.innerContent{
    padding-left: 5vw;
}
button{
    margin-left: 18vw;
    font-size: 1rem;
    margin-bottom: 2vh;
    color:rgb(42, 116, 17);
    border: none;
    background: none;
    transition: all 0.5s;
    border-bottom: white solid 1px;
}

button:hover{
    border-bottom: rgb(42, 116, 17) solid 1px;
}

.restaurantName{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0.5vh 0;
    background-color: rgb(42, 116, 17);
    color: white;
    text-align: center;
}
h1{
    width: 87vw;
    text-align: center;
    padding: 1vh;
    -webkit-box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);
-moz-box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);
box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);
}