<h1>Restaurants bearbeiten</h1>
<div class="restaurant-container">
    <ng-container *ngFor="let restaurant of restaurants">
      <div class="restaurantItem">
        <div class="restaurant-details">
          <div class="restaurant-name">{{restaurant.restaurantName}}</div>
          <div>{{restaurant.location.city}}, {{restaurant.location.housenumber}} {{restaurant.location.street}}</div>
        </div>
        <button routerLink="/addMeal/{{restaurant.id}}" class="edit-button">Bearbeiten</button>
      </div>
    </ng-container>
  </div>
  