#contentBox {
    display: flex;
    flex-direction: row;
    width: 83vw;
    height: 30vh;
    padding: 1vw;
}
app-create-restaurant-page{
    width: 40vw;
}
app-manage-restaurants-page{
    width: 40vw;
}
