
ion-tab-bar{
    height: 10vh;
    background-color: white;
    border: none;
}
.tab-bar-top{
    height: 7vh;
    color: green;
}
.bottom-div{
    text-align: center;
    padding-bottom: 4vh;
}
ion-searchbar{
    background:none;
}