@import "../../theme/variables.scss";

ion-tab-bar{
    height: 10vh;
    border-color: var(--ion-tab-bar-background, var(--ion-color-step-50, #f7f7f7));
    padding: 4vh 2vh 0 2vh;
    justify-content: space-between;
}

ion-tabs {
    justify-content: flex-start;
}

.bottom-div{
    text-align: center;
    padding-bottom: 4vh;
    background: none;
}

ion-searchbar{
    background:none;
}

#logoIcon {
    font-size: 6vh;
}

#logoName {
    margin-left: 2vw;
    font-size: 5vh;
}

#logoNameFirst {
    color: #48A734;
}

#logoNameSecond {
    color: var(--ion-text-color);
}

