<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-menu-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-menu-button>
    <div id="logoName">
      <ion-label id="logoNameFirst">veg</ion-label>
      <ion-label id="logoNameSecond">astro</ion-label>
      <ion-icon id="logoIcon" src="../../../assets/Logo.svg"></ion-icon>
    </div>
  </ion-tab-bar>
</ion-tabs>

<ion-menu contentId="logoIcon">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    <ion-menu-toggle>
      <ion-button fill="clear" [routerLink]="'tab1'">
        <ion-icon name="map-outline"></ion-icon>      
        Karte                                         
      </ion-button>                                   
    </ion-menu-toggle>                                    

    <ion-menu-toggle>                                 
      <ion-button fill="clear" [routerLink]="'tab2'">
        <ion-icon name="restaurant-outline"></ion-icon>
        Restaurant
      </ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle>                                 
      <ion-button fill="clear" [routerLink]="'usertab'">
        <ion-icon name="restaurant-outline"></ion-icon>
        User
      </ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-button fill="clear" [routerLink]="'restaurantRegistration'">
        <ion-icon name="person-circle-outline"></ion-icon>
        Registration
      </ion-button>
    </ion-menu-toggle>

  </ion-content>
</ion-menu>