ion-tab-bar{
    height: 7vh;
    border-color: var(--ion-tab-bar-background, var(--ion-color-step-50, #f7f7f7));
    padding: 0 2vh 0 1vh;
    padding-top: var(--ion-notch-size);
    justify-content: space-between;
}


ion-tabs {
    justify-content: flex-start;
}

ion-menu-button {
    width: fit-content;
    height: fit-content;
    font-size: 5.5vh;
    color: #48A734;
}

ion-searchbar{
    background:none;
}

#logoIcon {
    font-size: 5vh;
    color: #48A734;
    padding-left: 1vh;
    width: 5.5vh;
}

#logoName {
    margin-left: 2vw;
    font-size: 4vh;
    display: flex;
    align-items: center;
}

#logoNameFirst {
    color: #48A734;
}

#logoNameSecond {
    color: var(--ion-text-color);
}

