* {
    scroll-behavior: smooth;
}

.roundedStarValue{
    margin: 0.6vh 0 0 1vh;
    padding: 0%;

}

.starOff {
    font-size: 2.5vh;
    color: var(--ion-text-color-rgb);
    margin: 0.2vh;
}

.starOn {
    font-size: 2.5vh;
    color: #48A734;
    margin: 0.2vh;
}

.restaurantStars {
    background-color: none;
    width: fit-content;
    border-radius: 1.7vh;
    display: flex;
    align-items: center;
    height: fit-content;
}

ion-content {
    --overflow: hidden;
}

ion-item {
    --background: var(--ion-background-color);
}

#starRating {
    margin: 1vh;
}

#modal-restaurant-name {
    --border-color: var(--ion-background-color);
    --padding-bottom: 2vh;
}

img {
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    box-sizing: border-box;
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

ion-progress-bar{
    box-sizing: border-box;
    height: 1.5vh;
    width: 30vw;
    border-radius: 2vh;  
    margin-top: 0.5vh;  
}

ion-progress-bar::part(track){
    background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1)
}

.meatBar::part(progress){
    background: red
}

.veganBar::part(progress){
    background: var(--ion-app-color)
}

.vegeatarianBar::part(progress){
    background: purple
}

main {
    overflow: auto;
}

.wrapper {
    padding: 0 5% 0 5%;
    background-color: var(--ion-background-color);
}

.outer {
    z-index:100;
    top: 0;
    position: sticky;
}

#favouriteStarWrapper{
    margin-left: auto;
}

#ratingsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#open-modal {
    --background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --color: var(--ion-text-color)
}

#restaurantName {
    font-size: 3vh;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    flex-wrap: nowrap;
    background-color: var(--ion-background-color);
    height: 8vh;
    box-shadow: 0 -0.1vh var(--ion-background-color);
}

#restaurantName ion-back-button {
    color: var(--ion-text-color);
}

.typeIcon {
    font-size: 4vh;
    margin: 0 1vh 0 1vh;
    width: 4.5vh;
}

#restaurantName h1 {
    margin: 0;
    font-size: 3.5vh;
}

#restaurantDescription {
    margin-top: 3vh;
}


.ratingsOverview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    color: var(--ion-app-color)
}