<main>
    <img src="../../assets/{{inputs.image}}" alt="Restaurant Bild">
    <div class="wrapper outer">
        <div id="restaurantName">

            <ng-template [ngIf]="inputs.fromMarker">
                <ion-buttons [routerLink]="['/tabs','tab1']" slot="start">
                    <ion-back-button defaultHref="tabs/tab1" text="" icon="arrow-back-outline"></ion-back-button>
                </ion-buttons>
            </ng-template>

            <ng-template  [ngIf]="inputs.fromFavPage" >
                <ion-buttons [routerLink]="['/tabs','favouriteRestaurants']" slot="start">
                    <ion-back-button defaultHref="tabs/favouriteRestaurants" text="" icon="arrow-back-outline"></ion-back-button>
                </ion-buttons>
            </ng-template>

            <ng-template [ngIf]="!inputs.fromFavPage && !inputs.fromMarker">
                <ion-buttons [routerLink]="['/tabs','tab2']" slot="start" #fromResultsRouter>
                    <ion-back-button defaultHref="tabs/tab2" text="" icon="arrow-back-outline"></ion-back-button>
                </ion-buttons>
            </ng-template>

            <ion-icon class="typeIcon" src="../../assets/icon/{{inputs.type}}"></ion-icon>
            <h1>{{inputs.restaurantName}}</h1>
            <div id="favouriteStarWrapper">
                <ion-icon *ngIf="!inputs.isFav" name="star-outline" style="color: grey" id="star"
                    (click)="addFavRestaurant()"></ion-icon>
                <ion-icon *ngIf="inputs.isFav" name="star" style="color: white" id="star"
                    (click)="removeFavRestaurant()"></ion-icon>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div id="ratingsDiv">
            <div class="restaurantStars" id="starBox">
                <ng-template [ngIf]="inputs.stars >= 1" [ngIfElse]="greyStar">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #greyStar>
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="inputs.stars >= 2" [ngIfElse]="greyStar">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #greyStar>
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="inputs.stars >= 3" [ngIfElse]="greyStar">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #greyStar>
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="inputs.stars >= 4" [ngIfElse]="greyStar">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #greyStar>
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="inputs.stars >= 5" [ngIfElse]="greyStar">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #greyStar>
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template>
            </div>
            <ion-button id="open-modal" expand="block" fill="clear">Bewerten</ion-button>
            <ion-modal #modal trigger="open-modal">
                <ng-template>
                    <ion-header>
                        <ion-toolbar>
                            <ion-buttons slot="start">
                                <ion-button (click)="cancel()" role="cancel">Abbrechen</ion-button>
                            </ion-buttons>
                            <ion-title>Bewertung</ion-title>
                            <ion-buttons slot="end">
                                <ion-button (click)="confirm()" [strong]="true">Senden</ion-button>
                            </ion-buttons>
                        </ion-toolbar>
                    </ion-header>
                    <ion-content class="ion-padding">
                        <ion-item id="modal-restaurant-name">
                            <h1 style="margin: 0">{{inputs.restaurantName}}</h1>
                        </ion-item>
                        <ion-item>
                            <div>
                                <p style="margin:0"> Sterne</p>
                                <ion-rating-stars id="starRating" [filledColor]="'#48A734'" (ratingChange)="ratingChanged($event)"></ion-rating-stars>
                            </div>
                        </ion-item>
                        <ion-item counter="true">
                            <ion-label position="floating">Kommentar</ion-label>
                            <ion-input [(ngModel)]="ratingComment"></ion-input>                   
                          </ion-item>
                    </ion-content>
                </ng-template>
            </ion-modal>
        </div>
        <p id="restaurantDescription">{{inputs.description}}</p>
        <ion-list id="meals">

        </ion-list>
    </div>
</main>