<main>
    <img *ngIf="inputs.image" src="http://localhost:3000/image/{{inputs.image}}">
    <div class="wrapper outer">
        <div id="restaurantName">

            <ng-template [ngIf]="inputs.fromMarker">
                <ion-buttons [routerLink]="['/tabs','tab1']" slot="start">
                    <ion-back-button defaultHref="tabs/tab1" text="" icon="arrow-back-outline"></ion-back-button>
                </ion-buttons>
            </ng-template>

            <ng-template  [ngIf]="inputs.fromFavPage" >
                <ion-buttons [routerLink]="['/tabs','favouriteRestaurants']" slot="start">
                    <ion-back-button defaultHref="tabs/favouriteRestaurants" text="" icon="arrow-back-outline" (click)="updateRestaurants()"></ion-back-button>
                </ion-buttons>
            </ng-template>

            <ng-template [ngIf]="!inputs.fromFavPage && !inputs.fromMarker">
                <ion-buttons [routerLink]="['/tabs','tab2']" slot="start" #fromResultsRouter>
                    <ion-back-button defaultHref="tabs/tab2" text="" icon="arrow-back-outline"></ion-back-button>
                </ion-buttons>
            </ng-template>

            <ion-icon class="typeIcon" src="../../assets/icon/{{inputs.type}}"></ion-icon>
            <h1>{{inputs.restaurantName}}</h1>
            <div id="favouriteStarWrapper">
                <ion-icon *ngIf="!inputs.isFav" name="star-outline" style="color: grey" id="star"
                    (click)="addFavRestaurant()"></ion-icon>
                <ion-icon *ngIf="inputs.isFav" name="star" style="color: var(--ion-text-color)" id="star"
                    (click)="removeFavRestaurant()"></ion-icon>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div id="ratingsDiv">
            <div class="restaurantStars" id="starBox">  
                <ng-template [ngIf]="roundedStarRating < 0.5">
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="roundedStarRating >= 1" [ngIfElse]="halfStar">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #halfStar>                    
                        <ion-icon *ngIf="roundedStarRating >= 0.5 && roundedStarRating < 1" class="starOn" name="star-half-outline"></ion-icon> 
                </ng-template>
                <ng-template [ngIf]="roundedStarRating < 1.5">
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template> 
                <ng-template [ngIf]="roundedStarRating >= 2" [ngIfElse]="halfStar1">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #halfStar1>
                        <ion-icon *ngIf="roundedStarRating >= 1.5 && roundedStarRating < 2" class="starOn" name="star-half-outline"></ion-icon>                                  
                </ng-template>
                <ng-template [ngIf]="roundedStarRating < 2.5">
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template> 
                <ng-template [ngIf]="roundedStarRating >= 3" [ngIfElse]="halfStar2">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #halfStar2>
                        <ion-icon *ngIf="roundedStarRating >= 2.5 && roundedStarRating < 3" class="starOn" name="star-half-outline"></ion-icon>
                </ng-template>                
                <ng-template [ngIf]="roundedStarRating < 3.5">
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="roundedStarRating >= 4" [ngIfElse]="halfStar3">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #halfStar3>                    
                        <ion-icon *ngIf="roundedStarRating >= 3.5 && roundedStarRating < 4" class="starOn" name="star-half-outline"></ion-icon>                                 
                </ng-template>
                <ng-template [ngIf]="roundedStarRating < 4.5">
                    <ion-icon class="starOff" name="star-outline"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="roundedStarRating >= 5" [ngIfElse]="halfStar4">
                    <ion-icon class="starOn" name="star"></ion-icon>
                </ng-template>
                <ng-template #halfStar4>                    
                        <ion-icon *ngIf="roundedStarRating >= 4.5" class="starOn" name="star-half-outline"></ion-icon>                                  
                </ng-template> 
                <p class="roundedStarValue">{{roundedStarRating}}</p>           
            </div> 
            <ion-button [disabled]="restaurantRated" id="open-modal" expand="block" fill="clear">Bewerten</ion-button>
            <ion-modal #modal trigger="open-modal">
                <ng-template>
                    <ion-header>
                        <ion-toolbar>
                            <ion-buttons slot="start">
                                <ion-button (click)="cancel()" role="cancel">Abbrechen</ion-button>
                            </ion-buttons>
                            <ion-title>Bewertung</ion-title>
                            <ion-buttons slot="end">
                                <ion-button (click)="confirm()" [strong]="true">Senden</ion-button>
                            </ion-buttons>
                        </ion-toolbar>
                    </ion-header>
                    <ion-content class="ion-padding">
                        <ion-item id="modal-restaurant-name">
                            <h1 style="margin: 0">{{inputs.restaurantName}}</h1>
                        </ion-item>
                        <ion-item>
                            <div>
                                <p style="margin:0"> Sterne</p>
                                <ion-rating-stars id="starRating" [filledColor]="'#48A734'" (ratingChange)="ratingChanged($event)"></ion-rating-stars>
                            </div>
                        </ion-item>
                        <ion-item counter="true">
                            <ion-label position="floating">Kommentar</ion-label>
                            <ion-input [(ngModel)]="ratingComment"></ion-input>                   
                          </ion-item>
                    </ion-content>
                </ng-template>
            </ion-modal>
        </div>
        <div class="ratingsOverview">
            <div>
                <ion-progress-bar class="meatBar" [value]="this.mealDevisionInputs.meat" ></ion-progress-bar>
                <ion-progress-bar class="veganBar" [value]="this.mealDevisionInputs.vegan" ></ion-progress-bar>
                <ion-progress-bar class="vegeatarianBar" [value]="this.mealDevisionInputs.vegetarian" ></ion-progress-bar>
            </div>
            <p (click)="scrollToComments()">Kommentare</p>
        </div>
        
        <p id="restaurantDescription">{{inputs.description}}</p>
        <ion-list id="meals">

        </ion-list>
        <ion-list id="comments">
            <div *ngIf="comments.length > 0">
                <h1 style="margin-top: 8vh">Kommentare</h1>
                <comment *ngFor="let comment of comments; let i = index" [inputs]="comment" [id]="i"></comment>
            </div>
            <h1 *ngIf="comments.length == 0">Es gibt noch keine Bewertungen</h1>
            
        </ion-list>
    </div>
</main>