#map {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    padding: 0;
    font-family: 'AppFont';
}


p {
    text-align: center;
}

#locate {
    background: (--ion-background-color)
}

#btnDivBox {
    z-index: 12000;
    display: flex;
    position: absolute;
    bottom: 3vh;
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 1.3vh 2vh;
    border-radius: 3.5vw;
    background-color: var(--ion-background-color);
}

#hitBtn {
    border-radius: 2vw;
    color: white;
    font-weight: bold;
    height: fit-content;
    font-size: 3vh;
    padding: 1vh;
    margin-right: 2vh;
    padding-top: 1.5vh;
    background: rgb(74, 215, 57);
    background: radial-gradient(circle, rgba(74, 215, 57, 1) 0%, rgba(70, 220, 52, 1) 100%);

}



#hits ion-icon {
    padding-bottom: 0.5vh;
}


#locate {
    color: var(--ion-background-color);
    background-color: var(--ion-text-color);
    border-radius: 100vw;
    width: 3.5vh;
    height: 3.5vh;
    padding: 1.5vh;
}


#searchbarLoading,
ion-spinner {
    margin-left: 50vw;
    transform: translateX(-50%);
    z-index: 100;
    margin-bottom: 1vh;
}

#search {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#filterBtn {
    padding-right: 1vh;
    --color: var(--ion-text-color-rgb);
    --color-activated: var(--ion-activated-button-color);
    --background: none;
    --background-activated: none;
    --background-focused: none;
    --padding-end: 0;
    --padding-start: 0;
}

#filterBtn ion-icon {
    font-size: 4.5vh;
}

ion-footer ion-toolbar div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 1.5vh 1vh 0;
}

#filter {
    position: relative;
    z-index: 2000;
    background-color: var(--ion-background-color);
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    top: 0;
    box-shadow: 0 -0.1vh var(--ion-background-color);
}

#filter h1 {
    font-size: 3.5vh;
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
    margin: 0;
    padding: 2vh;
}