#map {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    padding: 0;
    font-family: 'AppFont';
}



#filter h1{
    text-align: center;
}
p {
    text-align: center;
}

#locate {
    background: (--ion-background-color)
}

#btnDivBox {
    z-index: 12000;
    display: flex;
    position: absolute;
    bottom: 3vh;
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 1.3vh 2vh;
    border-radius: 3.5vw;
    background-color: var(--ion-background-color);
    
}

#hitBtn {
    border-radius: 2vw;
    color: white;
    font-weight: bold;
    height: fit-content;
    font-size: 3vh;
    padding: 1vh;
    margin-right: 2vh;
    padding-top: 1.5vh;
    background: rgb(44, 166, 0);
}



#hits ion-icon {
    padding-bottom: 0.5vh;
}


#locate {
    color: var(--ion-background-color);
    background-color: var(--ion-text-color);
    border-radius: 100vw;
    width: 3.5vh;
    height: 3.5vh;
    padding: 1.5vh;
}

#search {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#filterBtn {
    padding-right: 1vh;
    --color: var(--ion-text-color-rgb);
    --color-activated: var(--ion-activated-button-color);
    --background: none;
    --background-activated: none;
    --background-focused: none;
    --padding-end: 0;
    --padding-start: 0;
}

#filterBtn ion-icon {
    font-size: 4.5vh;
}

ion-footer ion-toolbar div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 1.5vh 1vh 0;
}

.off {
    border-radius: 1vh;
    color: white;
    font-weight: bold;
    height: fit-content;
    width: 50%;
    text-align: left;
    font-size: 2.5vh;
    padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.3);
    margin-bottom: 1vh;
    // animation: removeFilterAnim 300ms forwards;
    animation: removeFilterAnim 500ms forwards;
}

@keyframes addFilterAnim {
    0% {width: 50%; margin-left: 0;}
    50% {width: 100%;margin-left: 0;}
    100% {width:50%; margin-left: 50%;}
    // 0% {margin-left: 0;}
    // 100% {margin-left: 50%;}
}

@keyframes removeFilterAnim {
    0% {width:50%; margin-left: 50%;}
    50% {width: 100%;margin-left: 0%;}
    100% {width: 50%; margin-left: 0;}
    // 0% {margin-left: 50%;}
    // 100% {margin-left: 0;}
}

.on {
    border-radius: 1vh;
    color: white;
    font-weight: bold;
    height: fit-content;
    width: 50%;
    text-align: left;
    font-size: 2.5vh;
    padding: 0.5vh 0.5vh 0.5vh 0.5vh;
    background: #48A734;
    // animation: addFilterAnim 300ms forwards;
    animation: addFilterAnim 500ms forwards;
    margin-bottom: 1vh;
}

#filterList {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto auto;
    padding-bottom: 3vh;
}

#filter {
    position: relative;
    z-index: 2000;
    background-color: var(--ion-background-color);
    height: fit-content;
    width: 100%;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    top: 0;
    box-shadow: 0 -0.1vh var(--ion-background-color);
}

#filter h1 {
    font-size: 3.5vh;
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
    margin: 0;
    padding: 2vh;
}

.off > p,
.on > p {
    background:none;
    color: white;
    margin: 0;
    text-align: center;
}


.meat {
    background: var(--ion-type-meat);
}

.vegan {
    background: var(--ion-type-vegan);
}

.vegetarian {
    background: var(--ion-type-vegetarian);
}
