<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />

<div id="searchbar">
  <div id="search">
    <ion-searchbar [(ngModel)]="address" (ionChange)="addressSearch(false)" (keydown.enter)="addressSearch(true)"
      placeholder="Gib einen Ort ein" slot="top"></ion-searchbar>
    <ion-button id="filterBtn" (click)="openFilter()" slot="end">
      <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
    </ion-button>
  </div>
</div>

<div id="map">
  <div id="filter" style="visibility: hidden;">
    <h1>K A T E G O R I E N</h1>
    <div id="filterList">
      <ion-button class="off" id="meat" (click)="addFilter('meat')" fill="clear">Fleisch</ion-button>
      <ion-button class="off" id="vegetarian" (click)="addFilter('vegetarian')" fill="clear">Vegetarisch</ion-button>
      <ion-button class="off" id="vegan" (click)="addFilter('vegan')" fill="clear">Vegan</ion-button>
    </div>
  </div>
  <div style="width: 100vw; justify-content: center; display: flex;">
    <div id="btnDivBox">
      <ion-button id="hitBtn" fill="clear" expand="block" [routerLink]="['/tabs','tab2']">
        Treffer
      </ion-button>
      <ion-icon slot="icon-only" id="locate" name="locate" (click)="setMapToUserLocation()"></ion-icon>

    </div>
  </div>
</div>