<ion-card (click)="openDetails()">
  <div style="width:100%;text-align: center;">
    <img *ngIf="inputs.image" src="http://localhost:3000/image/{{inputs.image}}" />
  </div>
  <ion-card-header>
    <ion-card-title>
      <ion-icon class="typeIcon" src="../../assets/icon/{{inputs.type}}"></ion-icon>
      {{inputs.restaurantName}}
      <div id="favouriteStarWrapper">
        <ion-icon *ngIf="inputs.isFav" name="star" style="color: var(--ion-text-color)" id="star"></ion-icon>
      </div>
    </ion-card-title>
    <ion-card-subtitle>
      <div class="restaurantStars" id="starBox">
        <ng-template [ngIf]="inputs.stars < 0.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 1" [ngIfElse]="halfStar">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar>
          <ion-icon *ngIf="inputs.stars >= 0.5 && inputs.stars < 1" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars < 1.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 2" [ngIfElse]="halfStar1">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar1>
          <ion-icon *ngIf="inputs.stars >= 1.5 && inputs.stars < 2" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars < 2.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 3" [ngIfElse]="halfStar2">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar2>
          <ion-icon *ngIf="inputs.stars >= 2.5 && inputs.stars < 3" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars < 3.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 4" [ngIfElse]="halfStar3">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar3>
          <ion-icon *ngIf="inputs.stars >= 3.5 && inputs.stars < 4" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars < 4.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 5" [ngIfElse]="halfStar4">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar4>
          <ion-icon *ngIf="inputs.stars >= 4.5" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
      </div>
    </ion-card-subtitle>
    <div class="ratingsOverview">
      <div>
        <table>

          
          <tr>
            <td>
              Vegan
            </td>
            <td>
              <ion-progress-bar class="veganBar" [value]="inputs.mealDevisionInputs.vegan"></ion-progress-bar>
            </td>
          </tr>
          <tr>
            <td>Vegetarisch</td>
            <td><ion-progress-bar class="vegeatarianBar"
                [value]="inputs.mealDevisionInputs.vegetarian"></ion-progress-bar>
            </td>
          </tr>
          <tr>
            <td>Andere</td>
            <td> 
              <ion-progress-bar class="meatBar" [value]="inputs.mealDevisionInputs.other"></ion-progress-bar>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content>
    {{inputs.preDescr}}
  </ion-card-content>
</ion-card>