ion-card{
    height: auto;
    border-radius: 1.7vh;
}

img {
    height: 18vh;
    width: 100%;
    object-fit: cover;
}

#favouriteStarWrapper{
    margin-left: auto;
}

.typeIcon {
    font-size: 3.5vh;
    margin: 0 1vh 0 0.5vh;
    padding-bottom: 0.5vh;
}

ion-card-title {
    font-size: 3vh;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    flex-wrap: nowrap;
}

.starOff {
    font-size: 2.5vh;
    color: var(--ion-text-color-rgb);
    margin: 0.2vh;
}

.starOn {
    font-size: 2.5vh;
    color: #48A734;
    margin: 0.2vh;
}

.restaurantStars {
    background-color: none;
    width: fit-content;
    border-radius: 1.7vh;
    display: flex;
    align-items: center;
    height: fit-content;
}