<ion-card (click)="openDetails()">
  <div style="width:100%;text-align: center;">
    <img alt="Silhouette of mountains" src="../../assets/{{inputs.image}}" />
  </div>
  <ion-card-header>
    <ion-card-title>
      <ion-icon class="typeIcon" src="../../assets/icon/{{inputs.type}}"></ion-icon>
      {{inputs.restaurantName}}
      <div id="favouriteStarWrapper">
        <ion-icon *ngIf="inputs.isFav" name="star" style="color: white" id="star"></ion-icon>
      </div>
    </ion-card-title>
    <ion-card-subtitle>
      <div class="restaurantStars" id="starBox">
        <ng-template [ngIf]="inputs.stars < 0.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 1" [ngIfElse]="halfStar">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar>
          <ion-icon *ngIf="inputs.stars >= 0.5 && inputs.stars < 1" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars < 1.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 2" [ngIfElse]="halfStar1">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar1>
          <ion-icon *ngIf="inputs.stars >= 1.5 && inputs.stars < 2" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars < 2.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 3" [ngIfElse]="halfStar2">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar2>
          <ion-icon *ngIf="inputs.stars >= 2.5 && inputs.stars < 3" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars < 3.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 4" [ngIfElse]="halfStar3">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar3>
          <ion-icon *ngIf="inputs.stars >= 3.5 && inputs.stars < 4" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars < 4.5">
          <ion-icon class="starOff" name="star-outline"></ion-icon>
        </ng-template>
        <ng-template [ngIf]="inputs.stars >= 5" [ngIfElse]="halfStar4">
          <ion-icon class="starOn" name="star"></ion-icon>
        </ng-template>
        <ng-template #halfStar4>
          <ion-icon *ngIf="inputs.stars >= 4.5" class="starOn" name="star-half-outline"></ion-icon>
        </ng-template>
      </div>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{inputs.preDescr}}
  </ion-card-content>
</ion-card>