<body>
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <div class="wrapper">
                    <mat-form-field class="example-full-width">
                        <mat-label>Restaurant Name</mat-label>
                        <input formControlName="restaurantName" matInput placeholder="name" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Restaurant Type</mat-label>
                        <mat-select required formControlName="type">
                            <mat-option *ngFor="let typ of types" [value]="typ">
                                {{typ}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <input formControlName="description" matInput placeholder="Dieses Restaurant ..." required>
                    </mat-form-field>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
            <form [formGroup]="secondFormGroup">
                <div class="wrapper">
                    <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input formControlName="city" matInput placeholder="Wien" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>PLZ</mat-label>
                        <input formControlName="plz" matInput placeholder="z.B. 4690" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Street</mat-label>
                        <input formControlName="street" matInput placeholder="z.B. Borisstraße" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Housenumber</mat-label>
                        <input formControlName="housenumber" matInput placeholder="z.B. 3" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Floor</mat-label>
                        <input formControlName="floor" matInput placeholder="z.B. 3">
                    </mat-form-field>
                    <button class="next_btn"  mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="wrapper">
                <p>You are now done.</p>
                <div>
                    <!-- <button class="loginBtn" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid"  (click)="create()"
                    mat-stroked-button>Restaurant erstellen</button>                -->
                    <button routerLink="/dashboard" class="loginBtn" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid"  
                    mat-stroked-button>Restaurant erstellen</button>  
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</body>