<body>
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" label="Restaurant Daten">
            <form [formGroup]="firstFormGroup">
                <div class="wrapper">
                    <mat-form-field class="example-full-width">
                        <mat-label>Restaurant Name</mat-label>
                        <input formControlName="restaurantName" matInput placeholder="Name" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Restaurant Typ
                        </mat-label>
                        <mat-select required formControlName="type">
                            <mat-option *ngFor="let typ of types" [value]="typ">
                                {{typ}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Beschreibung</mat-label>
                        <input formControlName="description" matInput placeholder="Dieses Restaurant ..." required>
                    </mat-form-field>

                    <input accept="image/*" id="file" type="file" style="width:100%; margin-bottom:2vh" >

                    <button mat-button matStepperNext>Weiter</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Adresse eingeben">
            <form [formGroup]="secondFormGroup">
                <div class="wrapper">
                    <mat-form-field class="example-full-width">
                        <mat-label>Stadt</mat-label>
                        <input formControlName="city" matInput placeholder="Wien" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>PLZ</mat-label>
                        <input formControlName="plz" matInput placeholder="z.B. 4690" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Straße</mat-label>
                        <input formControlName="street" matInput placeholder="z.B. Borisstraße" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Hausnummer</mat-label>
                        <input formControlName="housenumber" matInput placeholder="z.B. 3" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Stockwerk</mat-label>
                        <input formControlName="floor" matInput placeholder="z.B. 3">
                    </mat-form-field>

                    <div style="display: flex; gap: 15px">
                        <button mat-button matStepperPrevious>Zurück</button>
                        <button class="next_btn"  mat-button matStepperNext>Weiter</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Absenden</ng-template>
            <div class="wrapper">
                <div style="display: flex; gap: 15px">
                    <button mat-button matStepperPrevious>Zurück</button>
                    <!-- <button routerLink="/dashboard" class="loginBtn" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid"  (click)="create()"
                    mat-button>Restaurant erstellen</button> -->
                    <button class="loginBtn" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid"  (click)="create()"
                    mat-button>Restaurant erstellen</button>
                    <span class="error" *ngIf="noValidLoc">
                        Der angegebene Standort ist nicht gültig
                    </span>               
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</body>