#content{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    align-items: center;
}
button{
    font-size: 1rem;

    background-color: #0f901b;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 1.9vh;
  margin: 1vh;
}
h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 10vh;
}
.wrapper{
    margin-left: 30%;
    width: 40%;
}
body{
    margin: 0;
    padding: 0;
    width: 83vw;
}
input{
    width: 100%;
    border: none;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 1.2rem;
    border-bottom: solid 1px  #164d1b;
    color: #164d1b;
    text-align: center;
    padding-bottom: 0.6vh;
}
input:disabled{
    color:gray;
    background: none;
}

p{
    color:red;   
}