.nav{
    background-color: rgb(40, 55, 37);
    height: 100vh;
    width: 17vw;
    display: flex;    
    align-items: center;
    flex-direction: column;
}

img{
    width:  25%;
    margin: 1vh 37.5%;
}
#imgBox{
    background-color: rgb(9, 20, 9);
    width: 100%;
}
#linkList{
    display: flex;
    flex-direction: column;
    
}

a{
    text-align: center;
    background-color: rgb(34, 47, 31);
    color: white;
    text-decoration: none;
    border: none;
    padding: 2vw 1vw;
    width: 15vw;
    transition: all 0.5s;
}
a:hover{
    background-color:rgb(6, 46, 19);
}