<ion-item>
  <div class="flex">
    <div class="starBox">
      <ng-template [ngIf]="inputs.stars >= 1">
        <ion-icon size="small" class="starOn" name="star"></ion-icon>
      </ng-template>
      <ng-template [ngIf]="inputs.stars >= 2" [ngIfElse]="halfStar">
        <ion-icon size="small" class="starOn" name="star"></ion-icon>
      </ng-template>
      <ng-template #halfStar>
        <ion-icon size="small" class="starOff" name="star-outline"></ion-icon>
      </ng-template>
      <ng-template [ngIf]="inputs.stars >= 3" [ngIfElse]="halfStar">
        <ion-icon size="small" class="starOn" name="star"></ion-icon>
      </ng-template>
      <ng-template #halfStar>
        <ion-icon size="small" class="starOff" name="star-outline"></ion-icon>
      </ng-template>
      <ng-template [ngIf]="inputs.stars >= 4" [ngIfElse]="halfStar">
        <ion-icon size="small" class="starOn" name="star"></ion-icon>
      </ng-template>
      <ng-template #halfStar>
        <ion-icon size="small" class="starOff" name="star-outline"></ion-icon>
      </ng-template>
      <ng-template [ngIf]="inputs.stars >= 5" [ngIfElse]="halfStar">
        <ion-icon size="small" class="starOn" name="star"></ion-icon>
      </ng-template>
      <ng-template #halfStar>
        <ion-icon size="small" class="starOff" name="star-outline"></ion-icon>
      </ng-template>
      <p class="date"> | {{formattedDate}}</p>
    </div>

    <p class="comment">{{inputs.comment}} </p>

    <div class="toolBox">
      <ion-button class="editBtn" *ngIf="isOwnComment" id="{{inputs.id}}" expand="block" fill="clear">Edit</ion-button>
      <ion-icon class="deleteBtn"  (click)="deleteComment()" *ngIf="isOwnComment" name="trash-outline"></ion-icon>
      <ion-icon class="deleteBtn" *ngIf="!loggedIn" (click)="callToast(1000)" name="thumbs-up-outline"></ion-icon>
      <ion-icon class="deleteBtn" *ngIf="!alreadyLikeComment && loggedIn" (click)="upvoteComment()" name="thumbs-up-outline"></ion-icon>
      <ion-icon class="deleteBtn" *ngIf="alreadyLikeComment && loggedIn" (click)="deleteUpvoteComment()" name="thumbs-up"></ion-icon>
      <p>{{commentUpvotes}}</p>
    </div>


    <ion-modal #modal trigger="{{inputs.id}}">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()" role="cancel">Abbrechen</ion-button>
            </ion-buttons>
            <ion-title>Bewertung</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Senden</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <div>
              <p style="margin:0"> Sterne</p>
              <ion-rating-stars id="starRating" [filledColor]="'#48A734'" [rating]="userStarRating"
                (ratingChange)="ratingChanged($event)"></ion-rating-stars>
            </div>
          </ion-item>
          <ion-item counter="true">
            <ion-label position="floating">Kommentar</ion-label>
            <ion-textarea [autoGrow]="true" wrap="soft" [spellcheck]="true" [(ngModel)]="comment" fill="solid"
              placeholder="Enter text"></ion-textarea>
          </ion-item>

        </ion-content>




      </ng-template>
    </ion-modal>

  </div>
</ion-item>