
  <ion-tab-bar slot="top">  
    <div id="logoName">
      <ion-label id="logoNameFirst">veg</ion-label>
      <ion-label id="logoNameSecond">astro</ion-label>
      <ion-icon id="logoIcon" src="../../../assets/Logo.svg"></ion-icon>
    </div>
  </ion-tab-bar>

<ion-content>
  <div class="breadcrumbWrapper">
    <div >
      <ion-avatar (click) = "showElement('input1')" id="bred1" class="active">
        <p class="crumbleNum">1</p>
      </ion-avatar>
      <p class="crumbleText">User</p>
    </div>
      
    <hr id="hr1">

    <div>
      <ion-avatar (click) = "showElement('input2')" id="bred2">
        <p class="crumbleNum">2</p>
      </ion-avatar>
      <p class="crumbleText">User</p>
    </div>

    <hr id="hr2">

    <div>
      <ion-avatar (click) = "showElement('input3')" id="bred3">
        <p class="crumbleNum">3</p>
        <!-- <ion-icon name="checkmark-outline"></ion-icon> -->
      </ion-avatar>
      <p class="crumbleText">User</p> 
    </div>  
    
    <hr id="hr3">

    <div>
      <ion-avatar (click) = "showElement('input4')" id="bred4">
        <p class="crumbleNum">4</p>
        <!-- <ion-icon name="checkmark-outline"></ion-icon> -->
      </ion-avatar>
      <p class="crumbleText">User</p> 
    </div> 
  </div>

  <!-- <ion-breadcrumbs>
    <ion-breadcrumb (click) = "showElement('userInfo')" id="userInfoBred"  >User </ion-breadcrumb>
    <ion-breadcrumb (click) = "showElement('restaurantInfo')" >restaurant</ion-breadcrumb>
    <ion-breadcrumb class="test" >Cameras</ion-breadcrumb>    
  </ion-breadcrumbs> -->

  <div class="inputwrapper">
    <div id="input1" class="inputblock" style="visibility: visible;">
      <ion-item counter="true" >
        <ion-label position="floating">Vorname</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>

      <ion-item counter="true">
        <ion-label position="floating">Nachname</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>

      <ion-item counter="true" >
        <ion-label position="floating">Geburtsdatum</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>

      <ion-item counter="true">
        <ion-label position="floating">Ort</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>

      <ion-item counter="true">
        <ion-label position="floating">Straße</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>

      <ion-button (click) = "nextElem()">weiter</ion-button>
    </div>

    <div id="input2" class="inputblock" style="visibility: hidden;">
      <ion-item counter="true">
        <ion-label position="floating">fdsf</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>

      <ion-item counter="true">
        <ion-label position="floating">Nafdsfsdchname</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>
      <ion-button (click) = "nextElem()">weiter</ion-button>
    </div>

    <div id="input3" class="inputblock" style="visibility: hidden;">
      <ion-item counter="true">
        <ion-label position="floating">fdsf</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>

      <ion-item counter="true">
        <ion-label position="floating">Nafdsfsdchname</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>
      <ion-button (click) = "nextElem()">weiter</ion-button>
    </div>

    <div id="input4" class="inputblock" style="visibility: hidden;">
      <ion-item counter="true">
        <ion-label position="floating">fdsf</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>

      <ion-item counter="true">
        <ion-label position="floating">Nafdsfsdchname</ion-label>
        <ion-input maxlength="20"></ion-input>
      </ion-item>
      <ion-button >Fertig</ion-button>
    </div>
  </div>

  <!-- <ion-item id="custom-item" counter="true" [counterFormatter]="customCounterFormatter">
    <ion-label position="floating">Custom Counter Format</ion-label>
    <ion-input maxlength="20"></ion-input>
  </ion-item> -->
</ion-content>

