ion-badge {
    --padding-top: 0.8vh;
    --padding-bottom:0.8vh;
    font-size: 2.2vh;
    border-radius: 1vh;
    background-color: var(--ion-app-color);
    width: fit-content;
}

.badge {
    width: 30%;
    text-align: center;
    height: auto;
}

.meal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--ion-underline-color);
    padding: 0 1vh 1vh 1vh;
    margin-top: 1vh;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 7vh;
}

.typeIcon {
    font-size: 3.5vh;
    margin-right: 2vh;
    width: 4vh;
}

.item p {
    font-size: 2.8vh;
    width: 100%;
    flex: 4;
    margin: 0;
}

.meal > p {
    width: 100%;
    font-size: 2vh;
    margin: 0vh 0 1vh 0;
}