
  <ion-tab-bar slot="top">  
    <div id="logoName">
      <ion-label id="logoNameFirst">veg</ion-label>
      <ion-label id="logoNameSecond">astro</ion-label>
      <ion-icon id="logoIcon" src="../../../assets/Logo.svg"></ion-icon>
    </div>
  </ion-tab-bar>

<ion-content>

  <h1>L O G I N</h1>

  <form [formGroup]="login" (ngSubmit)="executeLogin()">
    
      <div id="input1" class="inputblock" style="visibility: visible;">
        <ion-item counter="true" >
          <ion-label position="floating">Email</ion-label>
          <ion-input maxlength="30" formControlName="email"  required></ion-input>                   
        </ion-item>
        <div class="error" >
          <p *ngIf="checkMailValidation()">Keine gültige Mail</p>
        </div>
        
        <ion-item counter="true">
          <ion-label position="floating">Password</ion-label>

          <ion-input maxlength="50" formControlName="password"  type="password" required></ion-input>  
        </ion-item>
        <div class="error" >
          <p *ngIf="checkPasswordValidation()">Kein gültiges Passwort</p>
        </div>

        <ion-button type="submit"  [disabled]="!login.valid">Anmelden</ion-button>
        <div class="error" >
          <p *ngIf="!foundUser" id="errorMsg">Kein User gefunden</p>
        </div>   
        <ion-button class="linkToRegistration" style="--color: var(--ion-text-color); font-size: 2vh" routerLink="../registration">    
          Noch keinen Account? <br>Registrieren
        </ion-button>    
      </div> 
  </form> 
  
</ion-content>
