/* Stile für das Formular */
form {
  width: 100%;
}
#inner-content{
  display: flex;
  flex-direction: row;

}
.add-meal-form{
  width: 50vw;
  margin: 0 auto;
}
mat-form-field{
  width: 50vw;
}
.activeBtn{
  max-height: 20px;
  background-color: #235025;
  color: white;
  padding: 0.5vw;
  margin:  0.5vw;
  text-align: center;
  border-radius: 5px;
}

.edit-btns{
  display: flex;
  width: 100%;
  justify-content: end;
  flex-direction: row;
}
#contentBox{
  width: 83vw;
  display: flex;
  flex-direction: column;
}
.form-meals{
  display: flex;
  flex-direction: row;
}
input{
  width: 10vw;
  border: none;
  color: rgb(45, 102, 51);
  background: none;
}
.button-submit{
  border: none;

  background-color: #235025;
  color: white;
  padding: 0.5vw;
  text-align: center;
  border-radius: 5px;
}
.flex.active {

  border-bottom:solid 1px rgb(45, 102, 51);
}
/* Stile für die Mahlzeitenbox */
.mealsBox {
  width: 30vw;
  margin: 0;
}

.mealsBox .meal {
  width: 100%;
  margin-bottom: 20px;
}

.meal p {
}
mat-icon{
  color: rgb(45, 102, 51);

}
/* Stile für die Bewertungsbox */
.ratingBox {
  width: 100%;
  padding: 10vh 10px;
  margin: 0 auto;
}

.ratingHeadline {
  font-weight: bold;
  margin-bottom: 10px;
}

.commentBox {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  max-width: 75vw;
  overflow-x: hidden;
}

.date {
  margin-left: auto;
}

table{
  width: 80vw;
  margin: 2vw 1.5vw;
}

td{
padding: 3px;
}

tr{
  border-radius: 5px;
  margin-top: 1vw;
  background: #f3f3f3;
}
.nav-btns{
  width: 83vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 15px -6px rgba(176,176,176,1);
  -moz-box-shadow: 0px 10px 15px -6px rgba(176,176,176,1);
  box-shadow: 0px 10px 15px -6px rgba(176,176,176,1);  margin-bottom: 3vh;
}
.nav-btns button{
  background: none;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  padding: 0.5vw;
  margin: 0.5vw 2vw;
  transition: all 0.5s;

}
.nav-btns button:hover {
  color:gray;
}
