/* Stile für das Formular */
form {
  width: 100%;
}
#inner-content{
  display: flex;
  flex-direction: row;
  
}
.add-meal-form{
  width: 20vw;
}
.activeBtn{
  
  color: rgb(10, 44, 18);
  border-bottom: 1px solid rgb(10, 44, 18);
}
#contentBox{
  width: 83vw;
  display: flex;
  flex-direction: column;
}
.form-meals{
  display: flex;
  flex-direction: row;
}
input{
  width: 10vw;
  border: none;
  color: rgb(45, 102, 51);
  background: none;
}
.button-submit{
  border: none;
  color: white;
  background: rgb(45, 102, 51);
}
.flex.active {
 
  border-bottom:solid 1px rgb(45, 102, 51);
}
/* Stile für die Mahlzeitenbox */
.mealsBox {
  width: 30vw;
  margin: 0;
}

.mealsBox .meal {
  width: 100%;
  margin-bottom: 20px;
}

.meal p {
}
mat-icon{
  color: rgb(45, 102, 51);

}
/* Stile für die Bewertungsbox */
.ratingBox {
  width: 100%;
  padding: 10vh 10px;
  margin: 0 auto;
}

.ratingHeadline {
  font-weight: bold;
  margin-bottom: 10px;
}

.commentBox {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.date {
  margin-left: auto;
}

table{
  width: 100%;
}

td{
  padding: 3px 0.5vw;

}

tr{
  width: 100%;
  border-radius: 5px;
  background: rgb(246, 246, 246);
}