<body>
    <button class="mainBtn" (click)="showCreate()">create new meal</button>
    <button class="mainBtn" (click)="showMeals()">Show Meals</button>
    <button class="mainBtn" (click)="showRatingsBox()">Show Meals</button>

    <form [formGroup]="firstFormGroup" [hidden]="!createMealActive">
        <div class="wrapper">
            <mat-form-field class="example-full-width">
                <mat-label>Titel</mat-label>
                <input formControlName="mealName" matInput placeholder="name" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Beschreibung</mat-label>
                <input formControlName="description" matInput placeholder="Dieses Restaurant ..." required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Meal Type</mat-label>
                <mat-select required formControlName="type">
                    <mat-option *ngFor="let typ of types" [value]="typ">
                        {{typ}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
            
            <mat-form-field class="example-full-width">
                <mat-label>Preis</mat-label>
                <input formControlName="price" matInput placeholder="1.70" required>
            </mat-form-field>
        </div>
        <div class="wrapper">
            <div>
                <button class="loginBtn" [disabled]="!firstFormGroup.valid" (click)="create()" mat-stroked-button>Gericht
                    erstellen</button>
    
            </div>
        </div>
    </form>
    
    <div class="mealsBox" [hidden]="!showMealsActive">
        <div *ngFor="let meal of meals;  let i = index" id="meal" [className]="meals[i].active ? 'active' : 'inactive'">
            <form (submit)="submitChanges( i, title.value , desc.value, price.value)">
                <p>Titel: <input type="text" #title [disabled]="!editValues[i].editable" value="{{meal.title}}"></p>
                <p>Beschreibung: <input type="text" #desc [disabled]="!editValues[i].editable" value="{{meal.description}}"></p>
                <p>Preis: <input type="number" #price [disabled]="!editValues[i].editable" value="{{meal.price}}">€</p>
                <div class="flex">
                    <p (click)="editMeal(i)">Bearbeiten</p>
                    <button *ngIf="editValues[i].editable" type="submit" >Submit</button>
                </div>
                <p class="activeBtn" *ngIf="meals[i].active" (click)="toggleActive(i)">Deaktivieren</p> 
                <p class="activeBtn" *ngIf="!meals[i].active" (click)="toggleActive(i)">Aktivieren</p>
                <p class="activeBtn" (click)="deleteMeal(meal._id)">Löschen</p>
            </form>                
        </div>
    </div>

    <div class="ratingBox"  [hidden]="!showRatingsActive">
        <p >Deine Durchschnittliche Sternebewertung </p>
              
        <ng-template [ngIf]="roundedStarRating < 0.5">
            <mat-icon class="starOff" >star_border</mat-icon>
        </ng-template>
        <ng-template [ngIf]="roundedStarRating >= 1" [ngIfElse]="halfStar">
            <mat-icon class="starOn" >star</mat-icon>
        </ng-template>
        <ng-template #halfStar>                    
                <mat-icon *ngIf="roundedStarRating >= 0.5 && roundedStarRating < 1" class="starOn" >star_half</mat-icon> 
        </ng-template>
        <ng-template [ngIf]="roundedStarRating < 1.5">
            <mat-icon class="starOff" >star_border</mat-icon>
        </ng-template> 
        <ng-template [ngIf]="roundedStarRating >= 2" [ngIfElse]="halfStar1">
            <mat-icon class="starOn" >star</mat-icon>
        </ng-template>
        <ng-template #halfStar1>
                <mat-icon *ngIf="roundedStarRating >= 1.5 && roundedStarRating < 2" class="starOn" >star_half</mat-icon>                                  
        </ng-template>
        <ng-template [ngIf]="roundedStarRating < 2.5">
            <mat-icon class="starOff" >star_border</mat-icon>
        </ng-template> 
        <ng-template [ngIf]="roundedStarRating >= 3" [ngIfElse]="halfStar2">
            <mat-icon class="starOn" >star</mat-icon>
        </ng-template>
        <ng-template #halfStar2>
                <mat-icon *ngIf="roundedStarRating >= 2.5 && roundedStarRating < 3" class="starOn" >star_half</mat-icon>
        </ng-template>                
        <ng-template [ngIf]="roundedStarRating < 3.5">
            <mat-icon class="starOff" >star_border</mat-icon>
        </ng-template>
        <ng-template [ngIf]="roundedStarRating >= 4" [ngIfElse]="halfStar3">
            <mat-icon class="starOn" >star</mat-icon>
        </ng-template>
        <ng-template #halfStar3>                    
                <mat-icon *ngIf="roundedStarRating >= 3.5 && roundedStarRating < 4" class="starOn" >star_half</mat-icon>                                 
        </ng-template>
        <ng-template [ngIf]="roundedStarRating < 4.5">
            <mat-icon class="starOff" >star_border</mat-icon>
        </ng-template>
        <ng-template [ngIf]="roundedStarRating >= 5" [ngIfElse]="halfStar4">
            <mat-icon class="starOn" >star</mat-icon>
        </ng-template>
        <ng-template #halfStar4>                    
                <mat-icon *ngIf="roundedStarRating >= 4.5" class="starOn" >star_half</mat-icon>                                  
        </ng-template> 
    </div>
</body>