body{
    margin: 0;
    padding: 0;    
    height: fit-content;
  }
  .activeBtn{
    background: none;
    width: 7vw;
    border: none;
    position: relative;
    left: 80%;
    color:rgb(54, 111, 41);
  }
  .mainBtn{
    background-color: rgb(54, 111, 41);
    color: white;
    padding: 2vh;
    margin-left: 5vw;
    font-size: 1rem;
    margin-top: 2vh;
    border: none;
    border-radius: 10px;
  }
  .wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 60vw; 
  }
  p{
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
   .active{
   }
   .inactive{
    opacity: 0.5;
   }
  .formBox{
    background-color: white;
    width: 60vw;
    border-radius: 3vh;
    padding: 2vh;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  
  .formBox{
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field{
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  
  .loginBtn{
    width: 20vw;
  }

.mealsBox{
    height: 10vh;
    width: 80vw;    
}

#meal{
  width: 40vw;
  margin: 2vh; 
  padding: 2%;   
  border-width: 0.1vh;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);
  -moz-box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);
  box-shadow: 3px 3px 16px -8px rgba(0,0,0,0.51);    
  box-sizing: border-box;
}

.flex{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
  .restaurantInputs:disabled{
    border-color: transparent;
    background: none;
    border-bottom: 1px solid rgb(208, 207, 207);
    color:rgb(208, 207, 207);
  }