<body>
  <div class="wrapper">
    <div class="formBox" [formGroup]="login">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="mail" placeholder="pat@example.com" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

       <div id="flexOuterBox"> 
      <button class="loginBtn" [disabled]="!login.valid" routerLink="/dashboard"  (click) ="logIn()">Login</button>
      
      <label class="labelRegistration">Noch keinen Account?</label>
      <button class="registrationBtn"  routerLink="/registration">Jetzt registrieren</button>
    </div>
    </div>

  </div>
</body>




