ion-avatar {
    width: 50vw;
    height: 50vw;
    margin-left: 25vw;
    position: relative;
    top: 7vh;
    border: var(--ion-background-color) 7px solid;
}

#headerDiv {
    padding: 2vh 0;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background: rgba(var(--ion-text-color-rgb), 0.05);
}

table {
    margin: auto auto;
    margin-top: 10vh;
}

td input {
    background: none;
    border: none;
    text-align: left;
}

td input:disabled {
    color: rgba(var(--ion-text-color-rgb), 0.55);
}
.nameInput{
    width: 40%;
    margin: 0 0  -7vh 0;
}
.userFullName {
    display: flex;
    flex-direction: row;
}

tr {
    width: 95vw;
    height: 7vh;
    margin-top: 5vh;
    margin: auto auto;
    border-bottom: 1px solid rgba(var(--ion-text-color-rgb), 0.15);
}

td ion-icon {
    font-size: 2rem;
    padding: 0 5vw;
    color: #48A734;
}

ion-button {
    margin-top: 7vh;
    margin-left: 30vw;
    width: 40vw;
    background-color: #48A734;
}

ion-text {
    text-align: center;
    color: green;
    text-decoration: underline;


}