<ion-header>

</ion-header>

<ion-content>
  <div id="headerDiv">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="../../assets/shutterstock_648907024.jpg" />
    </ion-avatar>
  </div>
  <div id="bar"></div>
  <table>
    <tr>
      <td><ion-icon name="person-outline"></ion-icon></td>
      <td class="userFullName"><input  [(ngModel)]="userData.firstname" class="nameInput" [disabled]="!isEditable"><input
          [(ngModel)]="userData.lastname" class="nameInput" [disabled]="!isEditable"></td>
    </tr>

    <tr>
      <td> <ion-icon name="person-circle-outline"></ion-icon></td>
      <td><input [(ngModel)]="userData.username" [disabled]="!isEditable"></td>
    </tr>
    <tr [hidden]="!isEditable">
      <td><ion-icon name="lock-closed-outline"></ion-icon></td>
      <td><input type="password" [(ngModel)]="userData.oldPassword" placeholder="Altes Passwort"></td>
    </tr>
    <tr [hidden]="!isEditable">
      <td><ion-icon name="lock-closed-outline"></ion-icon></td>
      <td><input type="password" [(ngModel)]="userData.newPassword" placeholder="Neues Passwort"></td>
    </tr>
    <tr [hidden]="!isEditable">
      <td><ion-icon name="lock-closed-outline"></ion-icon></td>
      <td><input type="password" [(ngModel)]="userData.newConfirmedPassword" placeholder="Neues Passwort bestätigen"></td>
    </tr>

  </table>
  <p id="errorMessage">{{errorMessage}}</p>
  <ion-button (click)="updateProfileData()" [hidden]="!isEditable">Submit</ion-button>

  <ion-button (click)="toggleEditable()">Bearbeiten</ion-button>
</ion-content>