<ion-header>
  
</ion-header>

<ion-content>
<table>

  <tr>
    <td>
      <p class="firstColumn">Vorname:</p>
    </td>
    <td>
      <p class="secondColumn">Simon</p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="firstColumn">Nachname:</p>
    </td>
    <td>
      <p class="secondColumn">Elmecker</p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="firstColumn">Telefonnummer:</p>
    </td>
    <td>
      <input class="secondColumn" value="07634290" disabled>
    </td>
  </tr>
  <tr>
    <td>
      <p class="firstColumn">Username:</p>
    </td> 
      <td>
        <input class="secondColumn" value="SimonEater" >
      </td>
  </tr>
</table>
</ion-content>
